test.c/
factorial/
0x0A-argc_argv/44-add.c
0x0A-argc_argv/4add
0x0B-malloc_free/3-alloc_grid.c
0x0B-malloc_free/3-main.c
2-strle.c
3-puts.c
a.out
add
arg.c
factorial2
factorial2.c
printalpha
printalpha.c
